extends includes/base

block globals
    - var title = "Bienvenido"
    - var body_id = "index"
    - var body_class= "theme-default has-fixed-sidenav"
    - var page = "Panel de Control"
    - var meta_descript = "Bienvenido"
    //- - var extended = true

block content
  .row
    .col.s12
      h2 #{page}
      .card.card-horizontal.hoverable
        .card-content
          span.card-title Card Title 1
          p test1
block append scripts
    script.
      //getSpinner();


    