footer.page-footer.mainFooter
      .container
        .row
          .col.s6.m3
            img(class="apci-logo" src="dist/images/apci__logo--large--blue.svg" alt="APCI", style="width:200px")
            //p Desarrollado por la USI <br>de APCI.
          .col.s6.m3
            h5 Links
            ul
              li
                a(href="#!") Link 1
              li
                a(href="#!") Link 2
              li
                a(href="#!") Link 3
              li
                a(href="#!") Link 4
          .col.s6.m3
            h5 Links 2
            ul
              li
                a(href="#!") Link 1
              li
                a(href="#!") Link 2
              li
                a(href="#!") Link 3
              li
                a(href="#!") Link 4
          .col.s6.m3
            h5 Links
            ul
              li
                a(href="#!") Link 1
              li
                a(href="#!") Link 2
              li
                a(href="#!") Link 3
              li
                a(href="#!") Link 4